
    <button 
      class="btn menu-btn d-flex align-items-center gap-2"
      data-bs-toggle="offcanvas" 
      data-bs-target="#sidebar"
    >
      <i class="fas fa-bars"></i>
      <span>القائمة</span>
      <!-- <span class="menu-indicator"></span> -->
    </button>
    

    <div class="offcanvas offcanvas-start" id="sidebar">
      <div class="offcanvas-header">
        <h5 class="text-white">القائمة</h5>
        <button class="btn-close close-btn" data-bs-dismiss="offcanvas"></button>
      </div>

      <div class="offcanvas-body d-flex flex-column h-100">
        <a class="btn nav-link text-white" href="../order/index.html">
          <i class="fas fa-plus-circle"></i>  إنشاء طلب
        </a>


        <a class="btn nav-link text-white" href="../order/table.html">
          <i class="fa-solid fa-chair"></i>
          
          الطاولات
        </a>

        <a  class="btn nav-link text-white" href="../order/list.html">
           <i class="fas fa-list"></i> 
           آخر الطلبات
        </a>

        <a class="btn nav-link text-white" href="../transaction/index.html">
            <i class="fa-solid fa-receipt"></i>
            المعاملات المالية للصندوق
        </a>

        <button class="btn admin-btn nav-link text-white mt-auto w-100 mb-2" id="openAdminLoginModal">
            <i class="fas fa-user-shield me-2"></i>
          دخول إلى حساب الإدارة
        </button>
        
        <form id="logoutForm" class="d-inline" method="post">
          <button type="submit" class="nav-link logout-btn w-100">
              <i class="fas fa-sign-out-alt"></i> تسجيل الخروج
          </button>
        </form>
      </div>
    </div>