<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halabi_Services.ps</title>

    <!-- Bootstrap RTL -->
    <link href="../../../wroot/assets/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="../../../wroot/assets/bootstrap/css/bootstrap-icons.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="../../../wroot/assets/fontawesome/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../../public/style/admin/product/add-edit-product.css" />
    <link rel="stylesheet" href="../../../public/style/admin/header.css" />

</head>

<body>
     <site-header></site-header>
    <div class="container content py-4">
        <div class="row">
            <div class="col-12">

                <!-- العنوان -->
                <div class="card shadow mb-4">
                    <div class="card-header bg-white py-3">
                        <div class="row align-items-center gy-2">
                            <div class="col-12 col-md-6 text-center text-md-start">
                                <h4 class="m-0">
                                    إنشاء صنف جديد
                                </h4>
                            </div>

                            <div class="col-12 col-md-6 text-center text-md-end">
                                <a href="./home.html" class="fs-5 fs-md-4 text-decoration-none">
                                    رجوع <i class="bi bi-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- الفورم -->
                <div class="card shadow">
                    <div class="card-body">

                        <form id="product_form" method="POST" enctype="multipart/form-data">
                            <div class="row g-3 mb-3">
                                <div class="col-12 col-md-6">
                                    <label for="name" class="form-label fw-bold">إسم الصنف</label>
                                    <input type="text" class="form-control bg-light" id="name" name="name"
                                        placeholder="إسم الصنف" required>
                                </div>

                                <div class="col-12 col-md-6">
                                    <label for="category_id" class="form-label fw-bold">الفئة</label>
                                    <select class="form-select bg-light" id="category_id" name="category_id" required>
                                        <option value="" selected disabled>-- إختر الفئة --</option>
                                    </select>
                                </div>
                            </div>


                            <!-- السعر الأساسي + checkbox -->
                            <div class="row g-3 mb-3">

                                <div class="col-12 col-md-3">
                                    <label for="cost_price" class="form-label fw-bold">سعر الشراء</label>

                                    <input type="number" class="form-control bg-light" step="0.5" id="cost_price" name="cost_price"
                                        placeholder="سعر الشراء">
                                </div>


                                <div class="col-12 col-md-3">

                                    <div id="base_price_box">
                                        <label for="price" class="form-label fw-bold">السعر الأساسي</label>
                                        <input type="number" class="form-control bg-light" step="0.5" id="price" name="price"
                                            placeholder="السعر" required>
                                    </div>
                                </div>

                                


                                <div class="col-12 col-md-3">
                                    <label for="stock" class="form-label fw-bold">المخزون</label>

                                    <input type="number" class="form-control bg-light" id="stock" name="stock"
                                        placeholder="المخزون">
                                </div>



                                <div class="col-12 col-md-3">
                                    <label for="barcode" class="form-label fw-bold">الباركود</label>

                                    <input type="number" class="form-control bg-light" id="barcode" name="barcode"
                                        placeholder="باركود">

                                    <div class="form-check mt-2">
                                        <input class="form-check-input" name="auto_barcode" type="checkbox" id="auto_barcode" value="1" style="cursor:pointer;">
                                        <label class="form-check-label fw-bold" for="auto_barcode"
                                            style="cursor:pointer;">
                                            توليد باركود تلقائيًا
                                        </label>
                                    </div>
                                </div>

                        

                            </div>

                        
                            <!-- زر الإضافة -->
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary col-12 col-sm-6 col-md-4 col-lg-3 mt-4 fw-bold">
                                    <i class="bi bi-plus-square"></i> إضافة
                                </button>
                            </div>
                        </form>

                        <div id="error_list" class="alert alert-danger p-2 mt-3 hidden">
                            <ul id="errors" class="mb-0 ps-3 text-danger"></ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="overlay_loader" style="
                display:none;
                position: fixed;
                inset: 0;
                background: rgba(0,0,0,0.55);
                backdrop-filter: blur(3px);
                z-index: 9999;
                justify-content: center;
                align-items: center;
            ">
        <div class="text-center text-white">
            <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
            </div>
            <p class="mt-3 fs-5">جاري معالجة الطلب، يرجى الانتظار...</p>
        </div>
    </div>


    <script src="../../../wroot/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../../../wroot/assets/jquery/jquery-3.7.1.min.js"></script>
    <script src="../../../wroot/assets/bootbox/bootbox.min.js"></script>



    <script type="module" src="../../../public/js/admin/product/add.js"></script>


</body>

</html>