<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halabi_Services.ps</title>

    <!-- Bootstrap RTL -->
     <link href="../../../wroot/assets/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">
      <link href="../../../wroot/assets/bootstrap/css/bootstrap-icons.css" rel="stylesheet">

      <!-- FontAwesome -->
      <link href="../../../wroot/assets/fontawesome/css/all.min.css" rel="stylesheet">



    <link rel="stylesheet" href="../../../public/style/admin/product/home.css" />
    <link rel="stylesheet" href="../../../public/style/admin/header.css" />


  </head>

  <body id="content">

    <site-header></site-header>

    <!-- ================= BODY ================= -->
    <div class="container-xxl mt-4">
      <div class="row justify-content-start">
        <div class="col-md-12">
          <div class="card shadow mb-4">

              <div class="card-header py-3">
                <div class="row align-items-center g-4">
                  <div class="col-12 col-md-6 text-center text-md-start">
                    <h6 class="m-0  fs-3 fs-md-2">
                      الأصناف
                    </h6>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="mb-4 row align-items-center g-2">

                  <!-- الزر -->
                  <div class="col-12 col-md-4  p-2 link-button
                              order-1 order-md-2
                              d-flex justify-content-center justify-content-md-end">
                    <a href="./add.html" class="btn btn-primary btn-responsive">
                      <i class="bi bi-bag-plus"></i> إضافة صنف
                    </a>
                  </div>

                  <!-- الاختيار -->
                  <div class="col-12 col-md-8
                              order-2 order-md-1
                              d-flex justify-content-md-start gap-2 flex-wrap">
                    <div class="w-100">
                      <label for="categoryFilter" class="form-label">
                       اختر فئة لعرض الأصناف
                      </label>

                      <select id="categoryFilter" class="form-select" style="max-width: 300px;">
                        <option value="all" selected disabled> -- إختر فئة --</option>
                      </select>

                    </div>
                    
                  </div>

                </div>

                <div class=" d-none d-flex justify-content-center align-items-center mb-5" id="loader-product-table">
                  <span class="spinner-border spinner-border-sm"></span>
                  <span class="ms-2">جاري التحميل...</span>
                </div>
                 

                <div id="category_title" class="text-center fs-2 text-bold mb-3">
                   
                </div>

                
                <div id="emptyNotice" class="text-center fs-4 text-muted mb-3">
                    الرجاء اختيار فئة لعرض الأصناف
                </div>

                <div class="table-responsive">
                  <table class="table table-bordered text-center table-striped table-sm hidden" id="dataTable" width="100%" cellspacing="0">  <!-- تم إضافة table-sm -->
                    <thead class="table-dark">
                      <tr>
                        <th>#</th>
                        <th>إسم الصنف</th>
                        <th>يُرسل إلى قسم</th>
                        <th>السعر</th>
                        <th>تعديل/حذف</th>
                      </tr>
                    </thead>
                    <tbody style="min-height: 200px;">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content bg-transparent border-0 position-relative">
          
          <button
            type="button"
            class="btn-close btn-close-white top-0 end-0 m-3"
            data-bs-dismiss="modal"
            aria-label="Close">
          </button>

          <div class="modal-body d-flex justify-content-center align-items-center p-0">
            <img
              id="modalImage"
              src=""
              class="img-fluid rounded-3"
              style="max-width: 80%; max-height: auto; aspect-ratio: 1/1; object-fit:cover ;"
            >
          </div>

        </div>
      </div>
    </div>

    
    <script src="../../../wroot/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../../../wroot/assets/jquery/jquery-3.7.1.min.js"></script>
    <script src="../../../wroot/assets/bootbox/bootbox.min.js"></script>




    <script type="module" src="../../../public/js/admin/product/home.js"></script>
  </body>
</html>