/* ====== Base (Mobile <768px) ====== */
  body {
    font-family: system-ui, sans-serif !important;
    line-height: 1.5 !important; /* تحسين القراءة */
    background-color: #c8ced3;
  }


.form-control,
.form-select {
    font-size: 1rem !important;
    font-weight: 400;
} 
table {
    font-size: 0.85rem;
    width: 100%;
    overflow-x: auto;
    display: block;
}

.btn{
    font-size: 17px;
}

img {
      width: 185px;
      height: auto;
      aspect-ratio: 1 / 1;   
      object-fit: cover;
    }

.hidden{
    display: none;
}
a:hover{
    cursor: pointer;
}

@media (max-width: 400px) {
    table td:first-child {
        width: 50%;
    }
}

/* ====== Tablet (768px - 1024px) ====== */
@media (min-width: 768px) and (max-width: 1023px) {

    .form-control,
    .form-select {
        font-size: 1.1rem !important;
        font-weight: 400;
    }


   

    table {
        font-size: 0.9rem;
    }

    img {
      width: 155px;
      height: auto;
      aspect-ratio: 1 / 1;   
      object-fit: cover;
    }

}

/* ====== Desktop (>1024px) ====== */
@media (min-width: 1024px) {
    

    .form-control,
    .form-select {
        font-size: 1.1rem !important;
    } 



  

    table {
        font-size: 0.95rem;
    }

    img {
      width: 150px;
      height: auto;
      aspect-ratio: 1 / 1;   
      object-fit: cover;
    }
}
