
  /* أساسيات عامة للجسم والخطوط */
  body {
    font-family: system-ui, sans-serif;
    font-size: 17px; 
    line-height: 1.5; /* تحسين القراءة */
    background-color: #c8ced3;
  }

  .btn {
    font-size: 14px; 
    font-weight: 500;
    border-radius: 0.375rem; 
  }

  .delete-btn {
    background: rgba(220, 53, 69, 0.1);
    border: 1px solid rgba(220, 53, 69, 0.3);
    color: #dc3545;
    border-radius: 8px;
    padding: 6px 12px;
    transition: all 0.3s ease;
  }

.delete-btn:hover {
    background: rgba(220, 53, 69, 0.2);
    transform: translateY(-1px);
}
  .ul_box{
    display: flex;
    /* flex-direction: column;     */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1.5rem;
  }

.ul_box li:last-child hr {
  display: none;
}
  /* تخصيص الـ inputs */
  .form-control, .form-select {
    font-size: 14px; 
    padding: 0.5rem; 
    border-radius: 0.375rem;
  }

  /* تخصيص الجداول */
  .table th, .table td {
    font-size: 14px;
    padding: 0.5rem; 
  }
  table {
    table-layout: fixed;
    width: 100%;
  }
th:nth-child(1),
td:nth-child(1) {
  width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 35%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 35%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 25%;
}



  .navbar-brand {
    font-size: 18px; 
  }



  .danger-box {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #dc3545;
    color: #dc3545;
    background-color: #f8d7da;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
  }


  #loader-product-table {
    transition: opacity 0.2s ease;
  }


  .hidden{
    display: none;
  }


  .btn-group-sm{
    flex-wrap: wrap !important;
  }
  .btn-group-sm  .btn {
    font-size: 1.1rem;
  }

  .btn-responsive {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
  }
  


/*---------------------modal-----------------*/


.modal-backdrop.show {
  background-color: #000;
  opacity: 0.9; /* زوّدها إذا بدك أغمق */
}


#imageModal .btn-close {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 0.75rem;
  z-index: 1056;
}

#imageModal img {
    pointer-events: none;
}

.product-img{
  cursor: pointer;
}



  /* أقل من 768px (موبايل) */
  @media (max-width: 767px) {

    .ul_box hr {
      display: none;
    }
    .form-control, .form-select {
      font-size: 16px;
      font-weight: 400; 
      padding: 0.4rem; 
    }

    .form-label{
      font-size: 1.1 rem;
      font-weight: 500;
    }
    .btn-responsive {
      width: 50%;
      font-size: 1.2rem  !important;
    }

    .link-button{
      margin-bottom: 20px;
    }
    .navbar-brand {
      font-size: 16px; 
    }

  
    .card-header .col-md-6.text-start {
      text-align: center !important; 
    }

    table thead {
      display: none;
    }
    table {
      table-layout: auto; /* رجعها للوضع الطبيعي */
    }

    th, td {
      width: auto !important; 
    }

   

    
    table tbody {
      display: block;
      width: 100%;
      padding: 5px;
    }

    table tr {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 10px;
      background: #fff;
      margin-bottom: 15px;
      border-radius: 10px;
      padding:10px !important;
      box-shadow: 0 0.5rem 1.25rem rgba(0,0,0,.2);
    }

    table td {
      display: block;
      width: 100%;
      border: 1px solid #e0e0e0 !important;
      text-align: center;
      padding: 5px !important;
      font-size:1.1rem !important;
      font-weight: 600;
    }

    table td::before {
      content: attr(data-label);
      font-size: small;
      font-weight: 600;
      display: block;
      margin-bottom: 7px !important;
      color: #555;
    }

    td[data-label="إسم الصنف"] {
      grid-column: span 2;
    }
    td[data-label="السعر"] {
      grid-column: span 2;
    }
    td[data-label="تعديل / حذف"] {
      grid-column: span 2;
    }




    .ul_box{
      gap: 1rem;
    }
    
    .badge {
      font-size: 1rem;      
      font-weight: 500;        
      padding: 0.35em 0.7em;   
    }
  

    td[data-label="الرقم"] {
      display: none;
    }
    .btn-group-sm{
      flex-wrap: wrap !important;
      gap: 2.5rem !important;
    }
    .btn-group-sm  .btn {
      padding: 3px 10px;
        font-size: 1.4rem;
    }

    .product-img {
      width: 185px;
      height: auto;
      aspect-ratio: 1 / 1;   
      object-fit: cover;
    }
  }


  @media (min-width: 320px) and (max-width: 517px) {

    .form-control, .form-select {
      font-size: 15px;
      font-weight: 400; 
      padding: 0.5rem; 
    }

    .form-label{
      font-size: 0.97rem;
      font-weight: 500;
    }

    table td::before {
      font-size: 0.86rem;
    }

    table tr {
      grid-template-columns: repeat(2, 1fr);
    }

    .btn-responsive {
      width: 70%;
      font-size: 1.1rem  !important;
      font-weight: 500;
      padding: 4px !important;
    }
    .btn-group-sm{
      gap: 2rem !important;
    }
    .btn-group-sm  .btn {
      padding: 3px 10px;
      font-size: 1.2rem;
    }
  }

  /* من 768px إلى 1024px (تابلت) */
  @media (min-width: 768px) and (max-width: 1023px) {

    .form-control, .form-select {
      font-size: 15px; /* input متوسط */
      font-weight: 400;
      padding: 0.5rem;
    }

    .form-label{
      font-size: medium;
      font-weight: 500;
    }
    .table th{
      font-size: 14px; /* خط متوسط في الجداول */
      padding: 0.5rem;
    }
    table td{
      font-size: 1.1rem !important; /* خط أكبر في الجداول */
      font-weight: 400;
      padding: 0.5rem;
    }
    
    .badge {
      font-size: 0.9rem;       /* أكبر شوي */
      font-weight: 500;        /* واضح بدون ثقل */
      padding: 0.35em 0.7em;   /* يحافظ على شكل البادج */
    }
    .navbar-brand {
      font-size: 18px; /* لوجو متوسط */
    }
    .nav-link {
      font-size: 16px; /* روابط متوسطة */
    }
    
    .product-img {
      /* width: 100%;
        aspect-ratio: 1 / 1;   
        height: auto;
        object-fit: cover;
        border-radius: 12px; */


      max-width: 140px;     
      aspect-ratio: 1 / 1;   
      height: auto;
      object-fit: cover;
    }
  }
  /* أكبر من 1024px (ديسكتوب) */
  @media (min-width: 1024px) {
    body {
      font-size: 17px; /* خط أكبر للشاشات الكبيرة */
    }
    
    .form-control, .form-select {
      font-size: 17px; /* input أكبر */
      font-weight: 400;
      padding: 0.3rem;
    }
    .form-label{
      font-size: large;
      font-weight: 500;
    }

   
    .table th{
      font-size: 16px; /* خط أكبر في الجداول */
      padding: 0.6rem;
    }
    .table td {
      font-size: 18px; /* خط أكبر في الجداول */
      font-weight: 400;
      padding: 0.6rem;
    }
    .navbar-brand {
      font-size: 20px; /* لوجو أكبر */
    }
    .nav-link {
      font-size: 16px; /* روابط أكبر */
    }
    .badge {
      font-size: 1rem;       /* أكبر شوي */
      font-weight: 500;        /* واضح بدون ثقل */
      padding: 0.35em 0.7em;   /* يحافظ على شكل البادج */
    }
    .product-img {
      max-width: 190px;
      aspect-ratio: 1 / 1;   
      height: auto;
      object-fit: cover;
      /* object-fit: contain;  */
    }
  }
